In [1]:
import pandas as pd

In [2]:
weapons_df = pd.read_csv("../Datasets/WEAPON.csv", sep=",")

In [3]:
weapons_df.head()

      incidentid weaponcaliber weapondetails weapontype
0  19700105DCHIW       Unknown           NaN    Handgun
1  19700105DCSOW   .22 caliber           NaN    Handgun
2  19700105DCUNW       Unknown           NaN    Handgun
3  19700206OHJOC       Unknown           NaN    Handgun
4  19700323CADAL       Unknown           NaN    Handgun

In [4]:
weapons_df.rename(columns={'incidentid':'Incident_ID'},inplace=True)
weapons_df = weapons_df[["Incident_ID", "weapontype"]]
weapons_df.head()

     Incident_ID weapontype
0  19700105DCHIW    Handgun
1  19700105DCSOW    Handgun
2  19700105DCUNW    Handgun
3  19700206OHJOC    Handgun
4  19700323CADAL    Handgun

In [5]:
def organize_null(string):
    if string == "Handgun":
        return "Handgun"
    elif string == "Rifle":
        return "Rifle"
    elif string == "Shotgun":
        return "Shotgun"
    elif string == "Multiple Handguns" or "Mulitiple Handguns":
        return "Multiple Handguns"
    elif string == "Multiple Rifles":
        return "Multiple Rifles"
    else:
        return None

weapons_df['weapontype'].apply(organize_null)
weapons_df.head()

     Incident_ID weapontype
0  19700105DCHIW    Handgun
1  19700105DCSOW    Handgun
2  19700105DCUNW    Handgun
3  19700206OHJOC    Handgun
4  19700323CADAL    Handgun

In [6]:
weapons_df['weapontype'] = weapons_df['weapontype'].str.replace("Multiple Handguns", "Handgun")
weapons_df['weapontype'] = weapons_df['weapontype'].str.replace("Mulitiple Handguns", "Handgun")
weapons_df['weapontype'] = weapons_df['weapontype'].str.replace("Multiple Rifles", "Rifle")
weapons_df['weapontype'] = weapons_df['weapontype'].str.replace("Rifle ", "Rifle")

In [7]:
weapons_df.to_csv("clean_weapon.csv", index=False, header=True)

In [8]:
#Group by victim age
weapons_df.groupby('weapontype')['Incident_ID'].count().reset_index().sort_values('Incident_ID', ascending=False)

         weapontype  Incident_ID
0           Handgun         1439
2           No Data          230
4             Rifle          114
3             Other           95
5           Shotgun           67
1  Multiple Unknown           26
6           Unknown           24