In [1]:
import pandas as pd
from pathlib import Path

In [2]:
incident_file = Path("../Datasets/INCIDENT.csv")
incident_df = pd.read_csv(incident_file)
incident_df.head()

,Incident_ID,Sources,Number_News,Media_Attention,Reliability,Date,Quarter,School,City,State,...,Accomplice,Hostages,Barricade,Officer_Involved,Bullied,Domestic_Violence,Gang_Related,Preplanned,Shots_Fired,Active_Shooter_FBI
0,20190702AKWIA,https://www.citynews1130.com/2019/07/03/teen-s...,NaN,NaN,4.0,7/2/2019,Summer,Williwaw Elementary School,Anchorage,AK,...,NaN,No,No,No,No,No,No,No,<10,No
1,20181003AKDEA,https://www.adn.com/alaska-news/crime-courts/2...,2,Local,4.0,10/3/2018,Fall,Denali Montessori Elementary School,Anchorage,AK,...,No,No,No,No,No,Yes,No,No,1,No
2,20050901AKDIA,https://www.columbine-angels.com/School_Violen...,NaN,NaN,1.0,9/1/2005,Fall,Dimond High School,Anchorage,AK,...,No,No,No,No,No,No,No,No,<10,NaN
3,20000110AKBAA,Anchorage Daily News - Fight Leads to Gunshots...,NaN,NaN,1.0,1/10/2000,Winter,Bartlett High School,Anchorage,AK,...,No,No,No,No,No,No,No,No,2,NaN
4,19970219AKBEB,https://www.adn.com/alaska-news/2017/02/18/eva...,NaN,NaN,2.0,2/19/1997,Winter,Bethel Regional High School,Bethel,AK,...,NaN,No,No,No,Yes,No,No,Yes,NaN,Yes

In [3]:
incident_df.dtypes

Incident_ID            object
Sources                object
Number_News            object
Media_Attention        object
Reliability           float64
Date                   object
Quarter                object
School                 object
City                   object
State                  object
City_Lat              float64
City_Lon              float64
School_Level           object
Location               object
Location_Type          object
During_School          object
Time_Period            object
First_Shot             object
Summary                object
Narrative              object
Situation              object
Targets                object
Accomplice             object
Hostages               object
Barricade              object
Officer_Involved       object
Bullied                object
Domestic_Violence      object
Gang_Related           object
Preplanned             object
Shots_Fired            object
Active_Shooter_FBI     object
dtype: object

In [4]:
incident_df['Date'] = pd.to_datetime(incident_df['Date'])

incident_df

,Incident_ID,Sources,Number_News,Media_Attention,Reliability,Date,Quarter,School,City,State,...,Accomplice,Hostages,Barricade,Officer_Involved,Bullied,Domestic_Violence,Gang_Related,Preplanned,Shots_Fired,Active_Shooter_FBI
0,20190702AKWIA,https://www.citynews1130.com/2019/07/03/teen-s...,NaN,NaN,4.0,2019-07-02,Summer,Williwaw Elementary School,Anchorage,AK,...,NaN,No,No,No,No,No,No,No,<10,No
1,20181003AKDEA,https://www.adn.com/alaska-news/crime-courts/2...,2,Local,4.0,2018-10-03,Fall,Denali Montessori Elementary School,Anchorage,AK,...,No,No,No,No,No,Yes,No,No,1,No
2,20050901AKDIA,https://www.columbine-angels.com/School_Violen...,NaN,NaN,1.0,2005-09-01,Fall,Dimond High School,Anchorage,AK,...,No,No,No,No,No,No,No,No,<10,NaN
3,20000110AKBAA,Anchorage Daily News - Fight Leads to Gunshots...,NaN,NaN,1.0,2000-01-10,Winter,Bartlett High School,Anchorage,AK,...,No,No,No,No,No,No,No,No,2,NaN
4,19970219AKBEB,https://www.adn.com/alaska-news/2017/02/18/eva...,NaN,NaN,2.0,1997-02-19,Winter,Bethel Regional High School,Bethel,AK,...,NaN,No,No,No,Yes,No,No,Yes,NaN,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2058,19780209WVHAS,https://www.wvgazettemail.com/news/cops_and_co...,NaN,NaN,2.0,1978-02-09,Winter,Hayes Junior High School,St. Albans,WV,...,No,No,No,No,Yes,No,No,No,3,NaN
2059,19860516WYCOC,https://www.wyohistory.org/encyclopedia/cokevi...,NaN,NaN,2.0,1986-05-16,Spring,Cokeville Elementary School,Cokeville,WY,...,Yes,Yes,No,No,No,No,No,Yes,>10,Yes
2060,19930917WYCES,http://buffalonews.com/1993/09/18/gunman-wound...,NaN,NaN,2.0,1993-09-17,Fall,Central Junior High School,Sheridan,WY,...,No,No,No,No,No,No,No,No,30,Yes
2061,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2062,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
clean_incident_df=incident_df.drop(['Sources', 'Number_News', 'Reliability', 'Quarter', 'Accomplice', 'Hostages', 'Barricade', 'Officer_Involved', 'Bullied', 'Domestic_Violence', 'Gang_Related', 'Preplanned', 'Shots_Fired', 'Active_Shooter_FBI', 'Location', "Location_Type", 'Time_Period', 'First_Shot', 'Summary', 'Narrative', 'Situation', 'During_School'], axis=1)

In [6]:
clean_incident_df

,Incident_ID,Media_Attention,Date,School,City,State,City_Lat,City_Lon,School_Level,Targets
0,20190702AKWIA,NaN,2019-07-02,Williwaw Elementary School,Anchorage,AK,61.218056,-149.900284,Elementary,NaN
1,20181003AKDEA,Local,2018-10-03,Denali Montessori Elementary School,Anchorage,AK,61.218056,-149.900284,Elementary,Victims Targeted
2,20050901AKDIA,NaN,2005-09-01,Dimond High School,Anchorage,AK,61.218056,-149.900284,High,Victims Targeted
3,20000110AKBAA,NaN,2000-01-10,Bartlett High School,Anchorage,AK,61.218056,-149.900284,High,Victims Targeted
4,19970219AKBEB,NaN,1997-02-19,Bethel Regional High School,Bethel,AK,60.804878,-161.782150,High,Random Shooting
...,...,...,...,...,...,...,...,...,...,...
2058,19780209WVHAS,NaN,1978-02-09,Hayes Junior High School,St. Albans,WV,38.373280,-81.842280,Junior High,Victims Targeted
2059,19860516WYCOC,NaN,1986-05-16,Cokeville Elementary School,Cokeville,WY,42.085670,-110.953710,Elementary,Neither
2060,19930917WYCES,NaN,1993-09-17,Central Junior High School,Sheridan,WY,44.804010,-106.962810,Junior High,Random Shooting
2061,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2062,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
def organize_level(string):
    if string == "Elementary":
        return "Elementary"
    elif string == "High":
        return "High"
    elif string == "Junior High":
        return "Junior High"
    elif string == "K-12":
        return "K-12"
    elif string == "K-8":
        return "K-8"
    elif string == "Middle":
        return "Middle"
    elif string == "Other":
        return "Other"
    else:
        return None

clean_incident_df['School_Level'].apply(organize_level)
clean_incident_df.head()

,Incident_ID,Media_Attention,Date,School,City,State,City_Lat,City_Lon,School_Level,Targets
0,20190702AKWIA,NaN,2019-07-02,Williwaw Elementary School,Anchorage,AK,61.218056,-149.900284,Elementary,NaN
1,20181003AKDEA,Local,2018-10-03,Denali Montessori Elementary School,Anchorage,AK,61.218056,-149.900284,Elementary,Victims Targeted
2,20050901AKDIA,NaN,2005-09-01,Dimond High School,Anchorage,AK,61.218056,-149.900284,High,Victims Targeted
3,20000110AKBAA,NaN,2000-01-10,Bartlett High School,Anchorage,AK,61.218056,-149.900284,High,Victims Targeted
4,19970219AKBEB,NaN,1997-02-19,Bethel Regional High School,Bethel,AK,60.804878,-161.782150,High,Random Shooting

In [8]:
def organize_target(string):
    if string == "Random Shooting":
        return "Random Shooting"
    elif string == "Victims Targeted":
        return "Victims Targeted"
    elif string == "Both":
        return "Both"
    elif string == "Neither":
        return "Neither"
    else:
        return None

clean_incident_df['Targets'].apply(organize_target)
clean_incident_df.dropna(subset=['Targets'], inplace=True)
clean_incident_df.head()

,Incident_ID,Media_Attention,Date,School,City,State,City_Lat,City_Lon,School_Level,Targets
1,20181003AKDEA,Local,2018-10-03,Denali Montessori Elementary School,Anchorage,AK,61.218056,-149.900284,Elementary,Victims Targeted
2,20050901AKDIA,NaN,2005-09-01,Dimond High School,Anchorage,AK,61.218056,-149.900284,High,Victims Targeted
3,20000110AKBAA,NaN,2000-01-10,Bartlett High School,Anchorage,AK,61.218056,-149.900284,High,Victims Targeted
4,19970219AKBEB,NaN,1997-02-19,Bethel Regional High School,Bethel,AK,60.804878,-161.782150,High,Random Shooting
6,20170110ALALA,NaN,2017-01-10,Alexander City Middle School,Alexander City,AL,32.944012,-85.953853,Middle,Neither

In [9]:
clean_incident_df.to_csv("clean_incident.csv", index=False, header=True)