In [1]:
import pandas as pd

In [2]:
incidents_df = pd.read_csv("clean_incident.csv", sep=",")
incidents_df.head()

,Incident_ID,Media_Attention,Date,School,City,State,City_Lat,City_Lon,School_Level,Targets
0,20181003AKDEA,Local,2018-10-03,Denali Montessori Elementary School,Anchorage,AK,61.218056,-149.900284,Elementary,Victims Targeted
1,20050901AKDIA,NaN,2005-09-01,Dimond High School,Anchorage,AK,61.218056,-149.900284,High,Victims Targeted
2,20000110AKBAA,NaN,2000-01-10,Bartlett High School,Anchorage,AK,61.218056,-149.900284,High,Victims Targeted
3,19970219AKBEB,NaN,1997-02-19,Bethel Regional High School,Bethel,AK,60.804878,-161.782150,High,Random Shooting
4,20170110ALALA,NaN,2017-01-10,Alexander City Middle School,Alexander City,AL,32.944012,-85.953853,Middle,Neither

In [3]:
shooter_df = pd.read_csv("clean_shooter.csv", sep=",")
shooter_df.head()

     Incident_ID schoolaffiliation age_cat shooterdied
0  19700105DCHIW           Student    Teen          No
1  19700105DCSOW           Student     NaN          No
2  19700105DCUNW           Student     NaN          No
3  19700206OHJOC           Student    Teen          No
4  19700323CADAL           Student    Teen          No

In [4]:
victim_df = pd.read_csv("clean_victim.csv", sep=",")
victim_df.head()

     Incident_ID   Injury    Age
0  19700105DCHIW    Fatal   Teen
1  19700105DCSOW  Wounded   Teen
2  19700105DCUNW      NaN   Teen
3  19700206OHJOC  Wounded   Teen
4  19700323CADAL  Wounded  Adult

In [5]:
weapon_df = pd.read_csv("clean_weapon.csv", sep=",")
weapon_df.head()

     Incident_ID weapontype
0  19700105DCHIW    Handgun
1  19700105DCSOW    Handgun
2  19700105DCUNW    Handgun
3  19700206OHJOC    Handgun
4  19700323CADAL    Handgun

In [11]:
def coords_merge(df1, df2=incidents_df):
    new_df = pd.merge(df1, df2[['Incident_ID', 'City_Lat', 'City_Lon']], on='Incident_ID', how='left')
    return new_df

In [12]:
clean_shooter = coords_merge(shooter_df)
clean_shooter.to_csv("clean_shooter.csv", index=False, header=True)

In [13]:
clean_victim = coords_merge(victim_df)
clean_victim.to_csv("clean_victim.csv", index=False, header=True)

In [14]:
clean_weapon = coords_merge(weapon_df)
clean_weapon.to_csv("clean_weapon.csv", index=False, header=True)