In [1]:
import pandas as pd

In [2]:
weapons_df = pd.read_csv("../Datasets/WEAPON.csv", sep=",")

In [3]:
weapons_df.head()

      incidentid weaponcaliber weapondetails weapontype
0  19700105DCHIW       Unknown           NaN    Handgun
1  19700105DCSOW   .22 caliber           NaN    Handgun
2  19700105DCUNW       Unknown           NaN    Handgun
3  19700206OHJOC       Unknown           NaN    Handgun
4  19700323CADAL       Unknown           NaN    Handgun

In [4]:
weapons_df.rename(columns={'incidentid':'Incident_ID'},inplace=True)
weapons_df = weapons_df[["Incident_ID", "weapontype"]]
weapons_df.head()

     Incident_ID weapontype
0  19700105DCHIW    Handgun
1  19700105DCSOW    Handgun
2  19700105DCUNW    Handgun
3  19700206OHJOC    Handgun
4  19700323CADAL    Handgun

In [5]:
weapons_df.to_csv("clean_weapon.csv", index=False, header=True)